// VARIABLES
    $bodyfont-family: freight-text-pro, serif;
    $headingfont-family: franklin-gothic-urw, sans-serif;
    $color-accent: #fa0;

//IMPORT PARTIALS
@import "partials/toc";
@import "partials/typography";